.next-payment-date-portal {
  .calendar {
    border: 1px dashed #c4cada;
    width: 125px;
    height: 123px;
    border-radius: 8px;
  }
  .calendar-responsive {
    border: 1px dashed #c4cada;
    max-width: 125px;
    height: 123px;
    border-radius: 8px;
  }
}

@media (max-width: 1199px) {
  .fs-responsive-loan-chart-details {
    font-size: 24px !important;
  }
  .amount-loan-details-repsonsive-font {
    font-size: 16px !important;
  }
}

@media (max-width: 575px) {
  .hihi {
    margin-top: 20px !important;
  }
}

.sub-title-chart-loan {
  @media (min-width: 1142px) and (max-width: 1199px) {
    height: 53.34px !important;
  }
}

@media (max-width: 575px) {
  .hoho {
    gap: 20px !important;
  }
}

@media (max-width: 459px) {
  .hjhj {
    width: 100% !important;
  }
}

@media (min-width: 375px) and (max-width: 386px) {
  .font-375px {
    font-size: 15px !important;
    color: #4b5675 !important;
  }

  .font-money {
    font-size: 21px !important;
  }
  .met {
    padding-right: 10px !important;
  }
}

.w-custom-repayment {
  @media (min-width: 576px) and (max-width: 576px) {
    margin-right: 22px !important;
    width: 96.9% !important;
  }
  @media (min-width: 577px) and (max-width: 991px) {
    width: 98.5% !important;
  }
}

.haiz {
  @media (min-width: 576px) and (max-width: 991px) {
    width: 100.7% !important;
  }
}

.kaka {
  @media (max-width: 572px) {
    width: 100% !important;
  }
}

.pt30-cus {
  @media (min-width: 1700px) {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  @media (max-width: 1699px) {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  @media (max-width: 580px) {
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px;
  }
}

.juji {
  @media (min-width: 1200px) and (max-width: 1399px) {
    margin-top: 15px !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 18px !important;
  }
}

.height-992 {
  @media (min-width: 992px) and (max-width: 1141px) {
    height: 97% !important;
  }
}

@media (max-width: 576px) {
  .poi {
    padding-right: 0px !important;
  }
}

@media (max-width: 575px) {
  .pow {
    width: 101% !important;
    padding-left: 9px !important;
    padding-right: 18px !important;
  }
}

.padding-responsive {
  @media (min-width: 576px) and (max-width: 767px) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  @media (min-width: 200px) and (max-width: 575px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .responsive-pe {
    padding-right: 20px !important;
  }
}
@media (max-width: 991px) {
  .responsive-ps {
    padding-right: 6px !important;
  }
}

.mh-731px {
  max-height: 731px !important;
}

.h-custom-responsive {
  @media (min-width: 1142px) and (max-width: 1199px) {
    height: 53.33px !important;
  }
}

@media (min-width: 375px) and (max-width: 575px) {
  .yasuo {
    width: 101% !important;
  }
  .olaf {
    width: 101% !important;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .yone {
    width: 101% !important;
  }
  .sylas {
    width: 101.6% !important;
  }
  .jayce {
    width: 104.4% !important;
  }
  .olaf {
    width: 100% !important;
  }
}

.smt-mb {
  @media (min-width: 376px) and (max-width: 1399px) {
    margin-bottom: 30px !important;
  }
}
