.button-application-filter-custom {
  border-radius: 8px;
  color: #78829d;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  height: 36px;
  background-color: #f9f9f9;
  &:hover {
    color: var(--bs-primary);
    background-color: #f9f9f9 !important;
  }
}

.menu-filter-application {
  z-index: 10;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.18);
  top: 68px;
  position: absolute;
  right: 13px;
  background-color: white;
  animation: dropdownAnimation 0.3s ease;
}

@keyframes animate-application {
  0% {
    top: 80px;
  }
  100% {
    top: 60px;
  }
}

.wrapper-records-applications {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
  gap: var(--Form-Control-input-padding-x, 10px);
  border-radius: 6px;
  border: 1px dashed var(--Primary---bs-primary, #1b84ff);
  background: #f1faff;
  align-self: stretch;
}
.records-applications {
  color: #3f4254;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.records-applications-reset {
  color: #7e8299;
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.table-foot-repayment {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--bs-gray-300);
  }
}

.config-column-grid-other {
  content: '';
  position: absolute;
  top: 20px;
  right: -2px;
  z-index: 4;
  animation: dropdownAnimation 0.3s ease;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.18);
}

.config-column-grid-customer {
  content: '';
  position: absolute;
  top: 46px;
  right: 8px;
  z-index: 4;
  animation: dropdownAnimation 0.3s ease;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.18);
  width: 385px;
}
