.button-application-filter-custom {
  border-radius: 8px;
  color: #78829d;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  height: 36px;
  background-color: #f9f9f9;
  &:hover {
    color: var(--bs-primary);
    background-color: #f9f9f9 !important;
  }
}

.value-hover-render-row {
  &:hover {
    color: #3e97ff !important;
    cursor: pointer;
  }
}

.menu-filter-application {
  z-index: 10;
  top: 70px;
  position: absolute;
  right: 360px;
  background-color: white;
  animation: animate-application 0.1s;
}

@keyframes animate-application {
  0% {
    top: 80px;
  }
  100% {
    top: 60px;
  }
}
