.dropdown-menu-application {

    @keyframes dropdownAnimation {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

  .dropdown-fixed {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 255);
    border-radius: 0.475rem;
    position: absolute;
    top: 40px;
    left: -100px;
    width: 200px;
    height: fit-content;
     animation: dropdownAnimation 0.3s ease;
     box-shadow:rgba(82, 63, 105, 0.15) 0px 0px 50px 0px;
    &:hover {
      display: flex;
      height: fit-content;
    }
  }

  .menu-item-child {
    &:hover{
        background-color: #F9F9F9;
    }
  }
}
