.dashboard {
  .fade {
    opacity: 0;
  }

  .bot-to-top {
    transform: translateY(5px);
  }

  .dashboard-animation {
    &.show {
      transition-duration: 0.3s;
      transition-timing-function: linear;
      transition-property: all;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .introduce {
    .wrap {
      border: 1px solid rgba(249, 249, 249, 0.05);
    }
  }

  .team {
    backdrop-filter: brightness(0.2);
  }

  .about-us {
    .about-us__img {
      border-top-left-radius: 0 !important;
      position: relative;
      background: linear-gradient(131deg, var(--bs-primary) -12.48%, var(--bs-black) 51.09%);
    }
  }
}
