.profile {
  .btn-logout {
    background-color: #1300614d;
    transition: all 0.2s linear;
    background-size: 200%;

    &:hover {
      background-color: #2002994d;
    }
  }

  .profile-content {
    background-color: #1300614d;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .profile-collected {
    background-color: #1300614d;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .profile-role {
    background-color: #e0eeff33;
    color: #93c5ff;
  }
}
