.profile {
  .avatar {
    $size: 140px;
    width: $size;
    aspect-ratio: 4 / 4;
  }

  .profile__menu {
    .profile__menu--item {
      position: relative;

      &:hover::before,
      &.active::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 4px;
        height: 20px;
        border-radius: 30px;
        transform: translateY(-50%);
        background-color: var(--bs-gray-900);
      }
    }
  }
}
