.button-application-filter-custom {
  border-radius: 8px;
  color: #78829d;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  height: 36px;
  background-color: #f9f9f9;
  &:hover {
    color: var(--bs-primary);
    background-color: #f9f9f9 !important;
  }
}

.value-hover-render-row {
  &:hover {
    color: #3e97ff !important;
    cursor: pointer;
  }
}

.menu-filter-application {
  z-index: 10;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.18);
  top: 68px;
  position: absolute;
  right: 128px;
  background-color: white;
  animation: animate-application 0.1s;
}

@keyframes animate-application {
  0% {
    top: 80px;
  }
  100% {
    top: 60px;
  }
}

.wrapper-records-applications {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
  gap: var(--Form-Control-input-padding-x, 10px);
  border-radius: 6px;
  border: 1px dashed var(--Primary---bs-primary, #1b84ff);
  background: #f1faff;
  align-self: stretch;
}
.records-applications {
  color: #3f4254;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.records-applications-reset {
  color: #7e8299;
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.border-custom-card {
  border-radius: 8.13px;
  border: 1px solid
    var(
      --preview-keenthemes-com-metronic-8-react-demo-1-crafted-widgets-tables-1920-x-9561-athens-gray,
      #f1f1f2
    ) !important;
  background: var(
    --preview-keenthemes-com-metronic-8-react-demo-1-crafted-widgets-tables-1920-x-9561-nero,
    #fff
  ) !important;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03) !important;
}

.hover-underline-link {
  position: relative;
  text-decoration: none;
}

.hover-underline-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, transparent 50%, var(--bs-primary) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s;
}

.hover-underline-link:hover {
  color: var(--bs-primary);
}

.process {
  border-radius: 50rem;
  height: 8px;
  position: relative;

  .process-bar {
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: 0;
    background-color: var(--bs-gray-200);

    &.percent-completed {
      z-index: 1;
      background-color: var(--bs-success);
    }
  }
}

.hihihaha {
  border-radius: 8px;
  background: var(--Form-Control-input-border-danger, #f1416c);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1.600000023841858px);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 26px 30px;
}
