.avatar-header-overview {
  background-color: #c0c0c0;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.475rem;
}

.image-name-user {
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

.style-image-account-header {
  font-weight: 700;
  font-size: 20px;
  color: #252f4a;
}

.main-avatar-user-navbar {
  background-color: #c0c0c0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.475rem;
}
