.wrapper-my-tasks {
  border-radius: 24px;
  background: var(--Gray---bs-gray-100, #f9f9f9);
  padding: 8px;
  min-height: calc(100% - 40px);
}

.wrapper-my-tasks-child:hover {
  cursor: pointer;

  border: 1px solid var(--Primary---bs-primary, #0d6efd);
  background: var(--Form-Control-input-bg, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.is-over-my-tasks {
  border-radius: 16px;
  border: 2px dashed var(--Primary---bs-primary, #0d6efd);
  background: var(--Form-Control-input-bg, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  height: 200px;
  max-height: 200px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
