.list-statistical {
  .square-id {
    height: 35px;
    min-width: 31px;
    background-color: #eaeaea;
    border-radius: 8px;
  }
  .border-bottom-header {
    border-bottom: 1px dashed #dbdfe9;
  }
  .text-252f4a {
    color: #252f4a;
  }
}
