.header {
  position: fixed;
  inset-inline: 0;
  z-index: 9;
  border-bottom: 1px solid rgba(249, 249, 249, 0.2);
  height: var(--height-header);
}

.img-header-portal {
  background-color: rgb(192, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 0.475rem;
  cursor: pointer !important;
}

.dropdown-menu-application {
  @keyframes dropdownAnimation {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .dropdown-fixed {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 255);
    border-radius: 0.475rem;
    position: absolute;
    top: 40px;
    left: -49px;
    width: 200px;
    height: fit-content;
    animation: dropdownAnimation 0.3s ease;
    box-shadow: rgba(82, 63, 105, 0.15) 0px 0px 50px 0px;
    &:hover {
      display: flex;
      height: fit-content;
    }
  }

  .menu-item-child {
    &:hover {
      background-color: #f9f9f9;
    }
  }
}

.text-full-mid-last-name {
  color: #fff;
}

.dropdown-text-role {
  color: #fff;
  opacity: 0.7;
}

.link-header-portal {
  padding-top: 2px;
  height: var(--height-header);
}
.link-header-portal:hover {
  opacity: 1;
}

.active-link {
  color: #fff;
  cursor: pointer;
  margin: 0 14px;
  padding-bottom: 0px;
  border-bottom: 2px solid;
}
.disable-link {
  padding-inline: 14px;
  color: #fff;
  padding-bottom: 2px;
  opacity: 0.4;
}

.menu-header-mobile {
  color: #fff;
  font-size: 20px;
}

.header-mobile-menu-portal {
  z-index: 999999 !important;
  position: fixed;
  width: 100vw;
  right: 0px;
  top: 0px;
  height: 100vh;
  overflow: none;

  &.showed {
    background-color: #00000059;
  }
}

.mobile-menu-portal {
  width: 196px;
  background-color: var(--bs-white);
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);

  &.showed {
    transition: all 0.2s linear;
    transform: translateX(0);
  }
}

.active-mobile {
  background-color: #000812;
  border-radius: 8px;
  color: #ffffff;
}

.disable-mobile {
  color: #858585;
}
