.application-details-form {
  $widthLabel: 160px;
  $widthLabelCustom: 204px;
  height: 100%;

  .form-wrap {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: fit-content;
    height: fit-content;
    gap: 24px;

    .full {
      grid-column: 1 / span 2;
    }
  }

  .separator-contact {
    height: 1px;
    background-color: var(--bs-gray-200);
  }

  .process {
    border-radius: 50rem;
    height: 8px;
    position: relative;

    .process-bar {
      content: '';
      position: absolute;
      border-radius: inherit;
      inset: 0;
      background-color: var(--bs-gray-200);

      &.percent-completed {
        z-index: 1;
        background-color: var(--bs-success);
      }
    }
  }

  .border-application {
    $color-application-details: var(--bs-primary);

    background-color: $color-application-details;
    border-radius: 8px 8px 8px 0px;
    padding: 16px;
    margin-left: -53px;
    color: var(--light-bs-light, #f8f9fa);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      border-style: solid;
      border-width: 10px;
      border-color: $color-application-details $color-application-details transparent transparent;
      filter: brightness(20%);
      height: 10px;
    }
  }

  .height-custom-90 {
    height: 90px;
  }
  .line-success-details {
    width: 150px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #5bc980;
    margin-top: 4px;
  }
  .line-process-details {
    width: 250px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: var(--bs-gray-200);
    margin-top: 4px;
  }

  .padding-custom-30 {
    padding: 30px;
  }

  .input-custom-width-application {
    width: 863px;
  }
  .input-application-size {
    width: 268px;
    height: 44px;
  }

  .select-application-size {
    width: 245px;
    height: 44px;
  }

  .bg-check-text {
    color: #071437;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    text-transform: capitalize;
  }

  .no-center-label {
    .input-title-application {
      position: static !important;
      transform: none !important;
    }
  }

  .input-title-application {
    color: #071437;
    text-align: right;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    flex-shrink: 0 !important;
    position: relative;
    top: 23px;
    transform: translateY(-50%);
    height: fit-content;

    &.left {
      width: $widthLabel;
    }
  }

  .input-title-application-step2 {
    color: #071437;
    text-align: right;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    flex-shrink: 0 !important;
    position: relative;
    top: 23px;
    transform: translateY(-50%);
    height: fit-content;
    &.left {
      width: $widthLabelCustom;
    }
  }

  .search-icon {
    transition: all 0.2s linear;

    &:hover {
      color: var(--bs-black) !important;
    }
  }

  @media (max-width: 1400px) {
    .step-application {
      .stepper-line {
        display: none !important;
      }
    }

    .form-wrap {
      gap: 16px;
    }

    .border-application {
      margin-left: -43px;
      font-size: 16px !important;
      &::before {
        border-width: 5px;
      }
    }

    .input-title-application {
      &.left {
        width: $widthLabel;
      }
    }
    .input-title-application-step2 {
      &.left {
        width: $widthLabelCustom;
      }
    }
  }

  @media (min-width: 1560px) {
    .input-wrap {
      width: 250px !important;
    }

    .select-wrap {
      width: 250px !important;
    }
  }

  @media (min-width: 1720px) {
    $widthLabel: 170px;

    .input-title-application.left {
      width: $widthLabel;
    }

    .input-wrap {
      width: 300px !important;
    }

    .select-wrap {
      width: 300px !important;
    }
  }

  @media (max-width: 991px) {
    .form-wrap {
      display: grid;
      grid-template-columns: auto;

      .full {
        grid-column: unset;
      }
    }

    .input-title-application {
      width: $widthLabel !important;
    }

    .input-title-application-step2 {
      width: $widthLabelCustom !important;
    }

    .input-title-application {
      width: unset !important;
      position: static;
      transform: unset;
    }
  }
}

.remake-input:focus-visible {
  border: 'none';
  outline: none;
  background: 'transparent';
}

.close:hover .icon {
  color: black;
}

.remark-item {
  .close-remark-icon {
    visibility: hidden;
    font-size: 16px;
  }

  &:hover .close-remark-icon {
    visibility: visible;
  }
}

@media (max-width: 1399px) {
  $widthLabel: 170px;

  .step-application {
    .stepper-line {
      display: none !important;
    }

    .stepper-nav {
      .stepper-item {
        .stepper-label {
          $size-pseudo: 60px;
          $size-arrow: 8px;
          min-width: 300px;

          position: relative;
          padding-right: calc($size-pseudo + 16px);

          &::before,
          &::after {
            content: '';
            position: absolute;
          }

          &::before {
            width: calc($size-pseudo - $size-arrow);
            border-top: 1px dashed var(--bs-gray-400);
            right: calc($size-arrow / 2 + 2px);
          }

          &::after {
            border: calc($size-arrow / 2) solid var(--bs-gray-400);
            right: calc(0px - $size-arrow / 2);
            border-color: transparent transparent transparent var(--bs-gray-400);
          }
        }

        .stepper-desc {
          text-wrap: nowrap;
        }
      }

      .stepper-item:last-child {
        .stepper-label {
          min-width: unset !important;
          padding: 0 !important;

          &::before,
          &::after {
            width: 0 !important;
            border: 0 !important;
          }
        }
      }
    }
  }
}

.dropdown-menu-remark {
  z-index: 1000;
  display: flex;
  padding: 2px 8px;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0, 0px);
  border-radius: var(--spacing-0, 0px);
  align-self: stretch;
  right: 0px;
  border: 5px;
}

.dropdown-children-remark {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color-text-light-mode-text-gray-900, #4b5675);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  align-items: start;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.7;
}
.dropdown-children-remark:hover {
  border-radius: 8px;
  color: var(--primary-bs-primary, #1b84ff);
  background: var(--gray-bs-gray-100, #f9f9f9);
}

.input-remark {
  outline: none;
  border: none;
  color: var(--gray-bs-gray-700, #4b5675);
  font-family: Inter;
  font-size: 14px;
  width: calc(100% - 1px);
  font-style: normal;
  background: #f1f1f4;
  border-radius: 8px;
  padding: 10px 12px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.input-remark-import {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  text-transform: capitalize;
  color: var(--color-text-light-mode-text-gray-700, #4b5675);
}
