.debt__menu {
  z-index: 999;

  .debt__menu-item {
    $size-padding: 8px;
    padding-top: $size-padding;
    padding-bottom: $size-padding;
    border-top: 4px solid transparent;
    position: relative;
    transition: border 0.2s linear;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      transition: background 0.2s linear;
    }

    &.active,
    &:hover {
      border-color: var(--bs-primary);

      &::before {
        background: linear-gradient(to bottom, rgba(217, 217, 217, 0.32), rgba(217, 217, 217, 0));
        filter: blur(12px);
      }
    }
  }
}
.bg-f6f6f6 {
  background-color: #f6f6f6 !important;
}

.debt {
  background-color: #ececec;
}
