.multiple-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.two-line {
  @extend .multiple-line;
  -webkit-line-clamp: 2;
}

.three-line {
  @extend .multiple-line;
  -webkit-line-clamp: 3;
}

.four-line {
  @extend .multiple-line;
  -webkit-line-clamp: 4;
}

.text-gray {
  color: #c4cada;
}

.text-transform-none {
  text-transform: none !important;
}

.outline-none {
  outline: none;
}

.bg-none {
  background: none !important;
}

.supplement-input-advance {
  background-color: transparent !important;
  border-style: solid !important;
  border-color: var(--bs-gray-300) !important;

  &.form-select.form-select-solid {
    padding-right: 1rem !important;
    &:focus {
      border-color: var(--bs-gray-300) !important;
    }
  }
}

// It does center the selected option, but not the options inside the dropdown. (case: select element)
.text-align-last-center {
  text-align-last: center;
  -moz-text-align-last: center;
}

.rounded-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-left-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-top-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-bottom-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-8 {
  border-radius: 8px;
}

.grid-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .grid-full {
    grid-column: 1 / span 3;
  }
}

.grid-2-column {
  display: grid;
  grid-template-columns: repeat(2, auto);

  .grid-full {
    grid-column: 1 / span 2;
  }
}

.list-style-position-inside {
  list-style-position: inside;
}

.white-space-pre-line {
  white-space: pre-line;
}

.label-center {
  position: relative;
  top: 23px;
  transform: translateY(-50%);
  height: fit-content;
}

.form-input-custom {
  &.disabled.form-control-solid {
    &:active {
      background-color: var(--bs-gray-100) !important;
    }
    border-color: var(--bs-gray-300) !important;
    background-color: var(--bs-gray-100) !important;
  }

  input:disabled,
  .form-control.form-control-solid:has(:disabled) {
    background-color: var(--bs-gray-100) !important;
    cursor: default;
  }
}

.form-select-custom.form-select.form-select-solid {
  &:disabled,
  &:disabled:active {
    background-color: var(--bs-gray-100) !important;
    border-color: var(--bs-gray-300) !important;
    box-shadow: none !important;
  }
}

.form-textarea-custom:disabled {
  border-color: var(--bs-gray-300) !important;
  background-color: var(--bs-gray-100) !important;
  box-shadow: none !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bs-white) inset !important;
}

.font-italic {
  font-style: italic;
}
