// Custom react checkbox tree
.react-checkbox-tree {
  > ol {
    padding: 0 !important;
  }

  .rct-collapse.rct-collapse-btn {
    border: none;
    background-color: transparent;
    color: var(--bs-grey);
    padding: 0;
    padding-right: 16px;
  }

  .rct-title {
    margin-left: 8px;
  }

  .rct-text {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    label {
      display: flex;
      align-items: center;
    }

    input[type='checkbox'] {
      display: inline-block;
      width: 16px;
      height: 16px;
      align-self: center;
      cursor: pointer;
      outline: none;

      &:checked {
        background-color: var(--bs-primary);
      }
    }
  }

  ul,
  ol {
    list-style-type: none;
    padding-left: 40px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// custom swal
.swal2-top-end {
  .swal2-popup {
    display: flex !important;
  }
}

.swal2-container.swal2-top-end {
  top: 80px !important;
  width: unset !important;
  max-width: 360px !important;

  .swal2-title {
    width: fit-content !important;
  }
}

.swal2-container.swal2-center.swal2-backdrop-show {
  inset-inline: 50%;
  width: 100%;
  max-width: 768px;
  display: flex;
  transform: translateX(-50%);
}

// custom react pdf viewer
.rpv-core__viewer {
  height: fit-content !important;
  max-height: 900px;
}

.quill {
  border-radius: 8px;
  transition: all 0.25 linear;

  .ql-toolbar {
    border-radius: inherit !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .ql-container {
    border-radius: inherit !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    min-height: 100px;
  }
  .ql-editor p {
    font-size: 16px !important;
    color: #4b5675 !important;
    font-weight: 500;
  }
  &:focus-within {
    border: 1px solid #0c2de2 !important;
    box-shadow: 0px 0px 2px 3px rgba(27, 132, 255, 0.16), 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
    background: #fff;
  }
  .ql-formats svg {
    height: 20px !important;
  }
}
.swiper {
  .swiper-pagination-bullet-active {
    width: 24px !important;
    height: 6px !important;
    border-radius: 60px !important;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px !important;
    border-radius: 60px !important;
  }
}
