@import 'custom-bootstrap';
@import 'atomic';
@import 'custom-lib';

:root {
  --bg-gray-color: #f9f9f9;
  --height-header: 80px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  // -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}

#root {
  height: 100%;
  min-height: 100vh;
}

// Use media to avoid auto-scaling horizontal scrolling on screens <= 990
@media screen and (min-width: 991px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--bs-gray-300);

  &:hover {
    background-color: var(--bs-gray-400);
  }
}

.bg-auth {
  background-image: url(../images/backgroundSignin.png);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

// not include input login page
.input-advance.form-control-solid {
  background: #f1f1f2;
  &:focus-within:has(input:focus) {
    border: 1px solid #0c2de2;
    background: #f1f1f2 !important;
    box-shadow: 0px 0px 2px 3px rgba(27, 132, 255, 0.16), 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
    color: var(--bs-gray-700);
    transition: color 0.2s ease;
  }

  &:focus,
  &:active {
    background-color: #f1f1f2 !important;
  }
}
.input-advance_transparent.form-control-solid {
  background: transparent;
  &:focus-within:has(input:focus) {
    border: 1px solid #0c2de2;
    background: #fff !important;
    box-shadow: 0px 0px 2px 3px rgba(27, 132, 255, 0.16), 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
    color: var(--bs-gray-700);
    transition: color 0.2s ease;
  }

  &:focus,
  &:active {
    background-color: #fff !important;
  }
}
#kt_app_header_container {
  height: 80px;
}

.fs-14 {
  font-size: 14px;
  line-height: 20px;
}
.fs16-line22 {
  font-size: 16px;
  line-height: 22px;
}
.fs-16 {
  font-size: 16px;
  line-height: 24px;
}

.fs-20 {
  font-size: 20px;
  line-height: 24px;
}
.fs-13 {
  font-size: 13px;
  line-height: 1.5;
}
.fs-13-line-19 {
  font-size: 13px;
  line-height: 19px;
}
.line-18 {
  line-height: 18px;
}
.fs-12 {
  font-size: 12px !important;
  line-height: 16px;
}
.bg-primary-light {
  background: var(--bs-primary-light);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
}
.button-file {
  top: 16px;
  right: 15.5px;
  color: #b5b5c3;
}
.text-B5B5C3 {
  color: #b5b5c3;
}

.text-071437 {
  color: #071437;
}

.icons-company-detail {
  border-radius: 16px 16px 4px 16px;
  background: var(--gray-bs-gray-100, #f9f9f9);
  box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.color-company-detail {
  color: var(--color-text-light-mode-text-gray-500, #99a1b7);
}
.wrapper-company-detail {
  border-radius: 6.18px;
  border: 1px dashed #dbdfe9;
  padding: var(--spacing-2, 8px);
  flex: 1 0 0;
}

.input-advance {
  position: relative;

  .form-control {
    + .pwd-icon {
      content: '';
      position: absolute;
      right: 12px;
    }

    &.is-invalid,
    &.is-valid {
      padding-right: 64px !important;

      + .pwd-icon {
        right: 40px;
      }
    }
  }
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)
  > .swal2-modal {
  padding: 30px;
}
.none-company-detail {
  opacity: 0.3;
  font-style: italic;
  max-height: 29.25px;
  align-self: stretch;
}

.sort-by-icon {
  position: relative;
  min-height: 24px;

  &.desc {
    .down-icon {
      color: var(--bs-gray-800);
    }
  }

  &.asc {
    .up-icon {
      color: var(--bs-gray-800);
    }
  }

  .down-icon {
    content: '';
    position: absolute;
    top: 8px;
  }
}

.bg-inherit:focus {
  background-color: #fff !important;
}
.bg-inherit:disabled {
  background-color: #fff !important;
}

.btn-repayment-schedule-calculator {
  position: sticky;
  background: white;
  bottom: -1px;
}
.btn-remark {
  background: #222;
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  gap: 8px;
}
.wrapper-button-remark {
  padding-bottom: 3px;
}
.span-button-remark {
  color: var(
    --preview-keenthemes-com-metronic-8-react-demo-1-crafted-widgets-tables-1920-x-956-yellow,
    #f8f5ff
  );
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.btn-remark:hover {
  background: #161515d0;
}
.img-google-check {
  border-radius: 12px;
  border: 1px solid var(--Gray---bs-gray-200, #f1f1f2);
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
}

.render-file-cas-check {
  border-radius: 8px;

  border: var(--Spacing-0, 1px) solid var(--Gray---bs-gray-200, #f1f1f2);

  background: #fbfbfb;
}

@media (min-width: 1601px) {
  .app-main-content {
    height: calc(100vh - 160px);
  }

  .app-root-view-height {
    overflow-y: hidden !important;
  }
}
.wrapper-reject-title-application {
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff5f8;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
}

.h1-reject-title-application {
  color: var(--Form-Control-input-border-danger, #f1416c);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  padding: 0px;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 20px;
}

.p1-reject-title-application {
  color: var(--Color-Text---Light-Mode-text-gray-800, #252f4a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px;
  margin-bottom: 4px;
}

.p2-reject-title-application {
  color: var(--Color-Text---Light-Mode-text-gray-600, #78829d);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px;
  margin: 0px;
}

.wrapper-filter-application {
  border-radius: 8px;
  display: flex;
  padding: 4px 8px;
  height: 29px;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--Gray---bs-gray-200, #f1f1f2);
}
.wrapper-filter-application:hover {
  border: 1px solid var(--Primary---bs-primary, #1b84ff);
  background: #f1faff;
}

.filter-title-show {
  white-space: nowrap;
  color: var(--Color-Text---Light-Mode-text-gray-900, #071437);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 0 4px 0 0;
  margin: 0;
}

.reset-all-filter-application {
  border-radius: 8px;
  background: #f9f9f9;
  color: var(--Color-Text---Light-Mode-text-gray-700, #4b5675);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 500;
  line-height: 21px; /* 150% */
  text-transform: capitalize;
  padding: 4px 8px;
  margin: 0;
  white-space: nowrap;
  height: 29px;
}

.reset-all-filter-application:hover {
  background: #e9f3ff;
  color: #1b84ff;
}

.wrapper-transition-filter-show {
  transition: all 0.3s ease;
}
.img-next-payment {
  border: 1px dashed var(--Gray---bs-gray-300, #dbdfe9);
  border-radius: 50%;
  padding: 12px;
}

.border-vertical-next-payment {
  position: absolute;
  width: 1px;
  height: 37px;
  top: 50px;
  left: 24px;
  border-right: 1px dashed var(--Gray---bs-gray-300, #dbdfe9);
}
.rpv-core__textbox_input {
  width: 100%;
  background-color: var(--bs-gray-100) !important;
  border-color: var(--bs-gray-100) !important;
  color: var(--bs-gray-700) !important;
  appearance: none !important;
  transition: color 0.2s ease !important;
  padding-top: 0.825rem !important;
  padding-bottom: 0.825rem !important;
  line-height: 1.5 !important;
  padding-left: 1.5rem !important;
  font-size: 1.15rem !important;
  border-radius: 0.625rem !important;
  font-weight: 600 !important;
  outline: none !important;
  height: 46px !important;
  border: 1px solid var(--bs-gray-300) !important;
}

.Not_found_ca_check {
  padding: 30px;
  color: var(--bs-gray-500);
  border: 0;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease;
  padding: 0.5rem 0;
  font-size: 16px;
  font-weight: 500;
  background: none;
  margin: 0 1rem;
}

.bg-inherit_textarea:focus {
  border: 1px solid #0c2de2;
  background: #fff;
  box-shadow: 0px 0px 2px 3px rgba(27, 132, 255, 0.16), 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
}
