@import 'custom-bootstrap';
@import 'atomic';
@import 'custom-lib';

:root {
  --bg-gray-color: #f9f9f9;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.bg-auth {
  background-image: url(../images/bg-auth.png);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
