.link-details-my-task {
  color: var(--Primary---bs-primary, #0d6efd);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper-link-details-my-task:hover {
  .link-details-my-task {
    text-decoration-line: underline;
  }
}

.active-my-tasks-portal-absolute {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding: 0;
  top: -2px;
  right: -11px;
  margin: 0;
  line-height: 20px; /* 142.857% */
  transform: rotate(45deg);
  text-transform: capitalize;
}
.icons-active-my-tasks-portal {
  top: -20.5px;
  right: -21px;
}

@media screen and (min-width: 991px) {
  .loans-id-my-loans-portal:hover {
    border: 1px solid var(--Gray---bs-gray-400, #b5b5c3);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03), 0px 0px 12px 10px rgba(0, 0, 0, 0.1);
  }
}
