.application-details-form {
  $widthLabel: 165px;

  .form-wrap {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: fit-content;
    gap: 24px;

    .full {
      grid-column: 1 / span 2;
    }
  }
  .border-application {
    $color-application-details: var(--bs-primary);

    height: 56px;
    background-color: $color-application-details;
    border-radius: 8px 8px 8px 0px;
    padding: 16px;
    margin-left: -53px;
    color: var(--light-bs-light, #f8f9fa);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    text-transform: capitalize;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      border-style: solid;
      border-width: 10px;
      border-color: $color-application-details $color-application-details transparent transparent;
      filter: brightness(20%);
      height: 10px;
    }
  }

  .height-custom-90 {
    height: 90px;
  }
  .line-success-details {
    width: 150px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #5bc980;
    margin-top: 4px;
  }
  .line-process-details {
    width: 250px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #f1f1f2;
    margin-top: 4px;
  }

  .padding-custom-30 {
    padding: 30px;
  }

  .input-custom-width-application {
    width: 863px;
  }
  .input-application-size {
    width: 268px;
    height: 44px;
  }

  .select-application-size {
    width: 245px;
    height: 44px;
  }

  .bg-check-text {
    color: #071437;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    text-transform: capitalize;
  }
  .input-title-application {
    color: #071437;
    text-align: right;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: capitalize;

    &.left {
      width: $widthLabel;
    }
  }

  @media (max-width: 1400px) {
  $widthLabel: 140px;

    .border-application {
      margin-left: -43px;
      font-size: 16px !important;
      &::before {
        border-width: 5px;
      }
    }
  
    .input-title-application {
      &.left {
        width: $widthLabel;
      }
    }
  }

  @media (min-width: 1600px) {
    .input-wrap {
      width: 300px !important;
    }

    .select-wrap {
      width: 300px !important;
    }
  }

  @media (max-width: 1199px) {
    .form-wrap {
      display: grid;
      grid-template-columns: auto;

      .full {
        grid-column: unset;
      }
    }

    .input-title-application {
      width: $widthLabel !important;
    }
  }
}