.table-calculator-style {
  .amount-header-calculator {
    align-items: flex-start;

    align-self: stretch;
    border-radius: var(--spacing-2, 8px);

    background-color: #f9f9f9;
    height: fit-content;
  }

  .modal-calculator {
    width: 1200px !important;
    height: calc(100% - 48px);
    margin: auto !important;
    left: 15%;
    top: 3%;
    border-radius: 8px !important;
  }

  .border-calculator {
    border: 1px solid var(--bs-gray-200);
  }

  .label-calculator {
    color: #78829d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
  }

  .border-right-table {
    border-right: 1px solid var(--bs-gray-200);
  }

  .content-calculator {
    color: #071437 !important;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
  }

  .step-repayment-schedule {
    // position: sticky;
    top: 0;
    height: fit-content;
  }
}
